/* @Lucasf5 */

/* layout */
body{
    background: url(./img/capa.png),
    url(./img/ruido.png),
    linear-gradient(50deg, #ff4169, #7c26f8);
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}
body, html, #home{
    height: 100%;
    /* esconde no eixo x (horizontal) */
    overflow-x: hidden;
}

/* barra de navegacao */
nav.navbar-transparente{
    background: rgba(0,0,0,0.6);
    padding: 15px 0px;
}

div ul.navbar-nav li.nav-item a.nav-link{
    color: white;
}
div ul.navbar-nav li.nav-item a.nav-link:hover{
    color: #9bf0e1;
}

.navbar-dark button.navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: white;
}

.divisor{
    width: 1px;
    background: white;
    margin: 12px 15px;
}

/* capa */
.capa{
    text-align: center;
}
/* TELA GRANDE */
@keyframes animacao-caixa {
    from {
        top: 130px;
        left: 150px;
    }
    to {
        top: 130px;
        left: 800px;
    }
}
@keyframes animacao-caixa-pequena {
    from {
        top: 130px;
        left: 0px;
    }
    to {
        top: 130px;
        left: 350px;
    }
}
@keyframes animacao-caixa-media {
    from {
        top: 130px;
        left: 50px;
    }
    to {
        top: 130px;
        left: 500px;
    }
}


section#home div.fab-spo i.fab{
    position: relative;
    top: 130px;
    left: 150px;
    animation: animacao-caixa 1s 2 alternate;

} 

a.btn-custom{
    color: white;
    border-radius: 300px;
    text-transform: uppercase;
    transition: 0.4s, 0.4s;
    padding: 8px 15px;
    
}
.btn-roxo{
    background: #7c25f8;
}
.btn-roxo:hover{
    background: #6207e3;
    color: white;
}
a.btn-branco{
    border: 1px solid white ;
}
.btn-branco:hover{
    background-color: white;
    color: black;
}
/* Estrutura de conteudos */
#servicos{
    background: white;
    padding-top: 20px;
    padding-bottom: 20px;
}
#recursos{
    padding-top: 20px;
    padding-bottom: 20px;
}

.albums{
    padding: 10px 0;
   
}
.rotacionar{
    transform: rotate(30deg);
    padding-left: 80px;
    
}
/* RODAPÉ */

footer{
    background: #000;
    padding: 50px 0px 20px 0px;
    position: relative;
}
footer ul.navbar-nav a{
    color: white;
    text-decoration: none;
}
footer ul.navbar-nav a:hover{
    color: #9bf0e1;
    text-decoration: none;
}
footer h6{
    color: #919496;
    font-size: 1em;
}

footer .redes ul li a{
    margin: 0px 5px;
}
/* tipografia */
div.capa h1{
    font-weight: 900px;
    letter-spacing: -0.05em;
    margin-bottom:50px;
    color: white;
}
div h2{
    font-size: 3em;
    font-weight: 700;
    letter-spacing: -0.04em;
    margin-bottom: 30px;
}
div h3{
    font-size: 2em;
    font-weight: 700;
    letter-spacing: -0.04em;
}
/* formatação tipografia primeira section */
#servicos h2, div h3{
    color: #7c25f8;
}
div p{
    font-size: 1em;
    font-weight: 700;
    letter-spacing: -0.04em;
    color: black;
}
/* formatação tipografia segunda section */
#recursos div h3{
    color: #9bf0e1;
}
#recursos h2{
    color: white;
}
#recursos p{
    font-size: 1em;
    font-weight: 700;
    letter-spacing: -0.04em;
    color: white;
}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    div.capa h1{
        font-size: 4em;
    }
    a.btn-custom{
        margin: 6px;
        font-size: 1em;
    }
    section#home div.fab-spo i.fab{
        position: relative;
        top: 130px;
        left: 0px;
        animation: animacao-caixa-pequena 1s 2 alternate;
    
    } 

 }

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    div.capa h1{
        font-size: 6em;
    }
    a.btn-custom{
        margin: 6px;
        font-size: 1.5em;
    }
    section#home div.fab-spo i.fab{
        position: relative;
        top: 130px;
        left: 0px;
        animation: animacao-caixa-pequena 1s 2 alternate;
    
    } 

 }

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    div.capa h1{
        font-size: 7em;
    }
    a.btn-custom{
        margin: 6px;
        font-size: 1.7em;
    }
    footer div{
        margin-left:30px ;
    }
    footer .spotify{
        position: relative;
        right: 40px;
    }
    footer .redes{
        position: absolute;
        right:30px;
    }
    section#home div.fab-spo i.fab{
        position: relative;
        top: 130px;
        left: 50px;
        animation: animacao-caixa-media 1s 2 alternate;
    
    } 
 }

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    div.capa h1{
        font-size: 8em;
    }
    a.btn-custom{
        margin: 2px;
        font-size: 1.5em;
    }
 }

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    div.capa h1{
        font-size: 6em;
    }
 }